.totaly {
  max-width: 1000px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  position: relative;
  background: 10px 10px green;
  font-family: cursive;
  text-shadow: 1px 1px 5px gray;
  -webkit-animation-name: title;
          animation-name: title;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.window1 {
  font-size: 50px;
}

.width {
  position: relative;
  font-size: 25px;
}

.height {
  position: relative;
  font-size: 25px;
  margin-top: -9%;
}

.inches {
  position: relative;
  font-size: 25px;
  margin-top: -9%;
}

.button {
  font-size: 40px;
  border-radius: 10px;
}

.button:hover {
  background-color: lightblue;
  color: white;
  -webkit-box-shadow: 1px 1px 10px gray;
          box-shadow: 1px 1px 10px gray;
}

.inputArea {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.inputArea .inputDiv {
  padding: 10px;
  border: solid black;
  border-radius: 5px;
}

.inputArea .inputDiv .label {
  display: inline;
}

.inputArea .inputDiv input {
  position: relative;
  width: 90%;
  font-size: 25px;
}
/*# sourceMappingURL=style.css.map */